<%= render 'nav' %>

<div class="all-posts">
  <% @posts.reverse.each do |post| %>
        <div>
          <li>
            <span><strong><%= post.user.username %></strong></span>
            <br>
            <span><%= post.title %></span>
            <br>
            <span><%= post.body %></span>
          </li>
        </div>
        <br><br>
    <% end %>

</div>