<h1>All Posts</h1>
<ul>
  <%= link_to new_post_path do %>
    <li>New post</li>
  <% end %>

  <%= link_to new_user_path do %>
    <li>Sign Up</li>
  <% end %>
</ul>
<ul>
    <div class="post-container">
      <% @posts.reverse.each do |post| %>
        <div class="post-card">
          <li>
            <span class="card-title"><%= link_to post.title, post %></span>
            <br>
            <span class="card-body"><%= truncate(post.body, :length => 90) %></span>
          </li>
        </div>
    <% end %>
    </div>
  </ul>